### Required
HOTKEY_PHRASE="your hotkey phrase"
MONGO_USERNAME=
MONGO_PASSWORD=
VALIDATOR_IP="ipv4 address of the vali"

### Optional

# Sets a multiplier on all http connection timeouts
TIMEOUT_MULT=1

## Sends discord notifications for things like setting weights
# DISCORD_URL=

### Dev Variables (dont set unless needed)

## Netuid validator is running on. Useful for testnet
# NETUID=4

## Chain to connect to
# CHAIN_ENDPOINT=wss://entrypoint-finney.opentensor.ai:443
